.tower {
  width: 28px;
  height: 28px;
  position: absolute;
  cursor: none;
}



.tooltip {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
}
