/* Dashboard.css */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "OLT-Breakdown OLT-Breakdown Refund-Amount Refund-Amount"
      "MapComponent MapComponent MapComponent Teams"
      "List-Of-Recent-Outages List-Of-Recent-Outages List-Of-Recent-Outages Teams";
  }
  
  .MapComponent {
    grid-area: MapComponent;
  }
  
  .OLT-Breakdown {
    grid-area: OLT-Breakdown;
  }
  
  .Refund-Amount {
    grid-area: Refund-Amount;
  }
  
  .Teams {
    grid-area: Teams;
  }
  
  .List-Of-Recent-Outages {
    grid-area: List-Of-Recent-Outages;
  }
  