/* Dashboard.css */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "OLT-Breakdown OLT-Breakdown Refund-Amount Refund-Amount"
      "MapComponent MapComponent MapComponent Teams"
      "List-Of-Recent-Outages List-Of-Recent-Outages List-Of-Recent-Outages Teams";
  }
  
  .MapComponent {
    grid-area: MapComponent;
    /* background-color: blue; */
  }
  
  .OLT-Breakdown {
    grid-area: OLT-Breakdown;
    /* background-color: green; */
  }
  
  .Refund-Amount {
    grid-area: Refund-Amount;
    /* background-color: yellow; */
  }
  
  .Teams {
    grid-area: Teams;
    /* background-color: red; */
  }
  
  .List-Of-Recent-Outages {
    grid-area: List-Of-Recent-Outages;
    /* background-color: aqua; */
  }
  