/* Dashboard.css */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
      "Number-Card-1 Number-Card-2 Number-Card-3 Number-Card-4"
      "OLT-Breakdown OLT-Breakdown Refund-Amount Refund-Amount"
      "MapComponent MapComponent MapComponent Teams"
      "List-Of-Recent-Outages List-Of-Recent-Outages Number-Of-Times-Deployed Number-Of-Times-Deployed";
}

.tower {
  width: 28px;
  height: 28px;
}

.Number-Card-1 {
  background-color: red;
  grid-area: Number-Card-1;
}

.Number-Card-2 {
  background-color: green;
  grid-area: Number-Card-2;
}

.Number-Card-3 {
  background-color: blue;
  grid-area: Number-Card-3;
}

.Number-Card-4 {
  background-color: yellow;
  grid-area: Number-Card-4;
}

.MapComponent {
  grid-area: MapComponent;
}

.OLT-Breakdown {
  grid-area: OLT-Breakdown;
}

.OLT-Value-Breakdown {
  grid-area: Refund-Amount;
}

.Teams {
  grid-area: Teams;
}

.List-Of-Recent-Outages {
  grid-area: List-Of-Recent-Outages;
}

.Number-Card-1 {
  grid-area: Number-Card-1;
}

.Number-Card-2 {
  grid-area: Number-Card-2;
}

.Number-Card-3 {
  grid-area: Number-Card-3;
}

.Number-Card-4 {
  grid-area: Number-Card-4;
}

.Number-Of-Times-Deployed {
  grid-area: Number-Of-Times-Deployed; 
}

/* Responsive layout for smaller screens */
@media (max-width: 1200px) {
  .container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "Number-Card-1 Number-Card-2"
          "Number-Card-3 Number-Card-4"
          "OLT-Breakdown OLT-Breakdown"
          "Refund-Amount Refund-Amount"
          "MapComponent MapComponent"
          "Teams Teams"
          "Teams-Most-Active Teams-Most-Active"
          "List-Of-Recent-Outages List-Of-Recent-Outages"
          "Number-Of-Times-Deployed Number-Of-Times-Deployed";

  }
}

@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-areas:
          "Number-Card-1"
          "Number-Card-2"
          "Number-Card-3"
          "Number-Card-4"
          "OLT-Breakdown"
          "Refund-Amount"
          "MapComponent"
          "Teams"
          "List-Of-Recent-Outages"
          "Number-Of-Times-Deployed";
  }
}
