@import './dashboard.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: hsl(240, 7%, 9%);
    --foreground: 	hsl(240, 10%, 4%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 3.9%);
    --popover: hsl(240 10% 3.9%);
    --popover-foreground: hsl(240 10% 3.9%);
    --primary: hsl(0 0% 100%);
    --primary-foreground: hsl(240 10% 3.9%);
    --secondary: hsl(240 5.9% 10%);
    --secondary-foreground: hsl(0 0% 100%);
    --muted: hsl(240 5.9% 10%);
    --muted-foreground: hsl(240 5% 64.9%);
    --accent: hsl(240 5.9% 10%);
    --accent-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(240, 4%, 16%);
    --input: hsl(240 5.9% 10%);
    --ring: hsl(240 4.9% 83.9%);
    --radius: 0.5rem;
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5:(hsl(27 87% 67%));
    --even-odd: hsl(228, 6%, 17%);
    --table-headings: hsl(240, 5%, 65%);
    --table-hover:hsl(240, 4%, 10%);
    --subheader: hsl(0, 0%, 58%);
  }

  /* rewrite root and add hsl() to colors */



  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }


  .text-foreground {
    color: var(--foreground);
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
}
